
/* Sandpiper Stylesheet - for use with Dash GUIs */

.alertLabel {
  color: #ff0000;
  font-weight: bold;
}

.OKLabel {
  color:rgb(0, 150, 12);
  font-style: italic;
}

.greenLabel{
  color:rgb(0, 150, 12);
  font-weight: bold;
}

.redLabel{
  color: #ff0000;
}

.blackLabel{
  color: black;
}

.indicatorImage{
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  margin:1px;
}

.grid-container {
    flex: 0 0 300px;
    justify-content: center;
}

.divBorder {
    display:flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    margin: 2px;
    min-width: 400px;
    /* flex-wrap: wrap; */
}

.divBorder_25percWidth {
  /* display:flex; */
  flex: 1 1 25%;
  border: 1px solid black;
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
  /* width: 25%; */
  /* min-width: 200px; */
  /* flex-direction: column; */
  /* flex: 0 1; */
  height: auto
}

.divBorder_75percWidth {
  flex: 1 1 75%;
  /* display:flex; */
  border: 1px solid black;
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
  /* width: 75%; */
  /* min-width: 500px; */
  /* flex-direction: column; */
  /* flex: 0 1; */
  height: auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


.divHorizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* height:max-content; */
  /* border:1px solid #ff0000; */
  align-Items:top;
}

.divJogButtons {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.divHorizontalBorder {
  display:flex;
  flex-direction: row;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  margin: 2px;
  min-width: 400px;
  justify-content: center;
}

.divHorizontal_fullWidth {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  width: 100%;
}

.divCentered {
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: center;
}

.divOverall {
  display: flex;
  flex-direction: column;
  /* flex:1 1 100%; */
  width:95vw;
}

.button{
  margin: 2px;
  min-width: 200px;
}

/* Base button state */
.custom-btn {
    background-color: #4b6573; /* Success Green */
    color: white;
    border: 2px solid transparent;
    margin:2px;
    /* padding: 12px 24px; */
    /* font-size: 1rem; */
    /* font-weight: 600; */
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease, transform 0.1s ease;
    min-width: 200px;
}

/* Hover state (mouse pointer over button) */
.custom-btn:hover {
    background-color: #31434b; /* Darker green */
    color:white;
}

/* Active state (while the button is being clicked) */
.custom-btn:active {
    transform: scale(0.98); /* Slight click shrink effect */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Focus state (accessibility navigation via Keyboard Tab) */
.custom-btn:focus {
    outline: 5px solid #7e701e;
    /* border-color: #1e7e23; */
}

.htmlButton{
  border:none;
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin:5px;
}

.plots{
  /*min-width: 900px;*/
  margin: 0px;
  padding: 0px;
}

.link{
  padding: 2em 3em;
  background-color: pink;
  color: black;
}

.datatable{
  margin:5px;

}

.datatable_box{
  display:flex;
  width:30%;
  flex-direction: column;
  border-right:1px solid black;
  border-left:1px solid black;
  border-top:1px solid black;
  margin-bottom:10px;
}

.datatable_row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom:1px solid black;
}

html {
  font-size: 62.5%; }
body {
  display: flex;
  justify-content: center;
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(50, 50, 50); 
  margin:0;
  padding:0;
  width: 100%;
}

h3 {
  margin-top: 0px;
  margin-bottom: 2px;
}
